<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boggle</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1 id="High-Score">High Score: 0</h1>
    <h3 id="Games-Played">Games Played: 0</h3>
    <h3 id="Score">Score: </h3>
    <h3 id="Timer">Timer: </h3>
    <section>
        <table class="board">
            <tbody>
                {% for row in board %}
                <tr>
                    {% for element in row %}
                    <td>{{ element }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form id="Boggle-Form">
            <input type="text" id="boggle-input" placeholder="type word here">
            <button id="Submit-Button" onclick="timerId">Submit</button>

        </form>
        <h4 id="Word-Guess"></h4>
    </section>
    
    <script src="http://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="/static/boggle.js"></script>
    
</body>
</html>